<div class= container>
        <mat-card class="example-card">
            <mat-card-title>Register Form</mat-card-title>
            <form class="example-form">
                <table class="example-full-width" cellspacing="0">
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                      <input matInput placeholder="Username" [formControl]="username" name="username" required>
                      <!--<mat-error *ngIf="username.invalid">{{getErrorMessage("username")}}</mat-error>-->
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                  <td><mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" [formControl]="password" type="password" name="password" required>
                   <!-- <mat-error *ngIf="password.invalid">{{getErrorMessage("password")}}</mat-error>-->
                  </mat-form-field></td>
                </tr></table>
                
                <!--<button mat-raised-button (click)="register()" color="primary">Register</button>-->
              </form>
              
              <button mat-raised-button (click)="register()" color="primary">Register</button>
          </mat-card>
    </div>
